<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora posts</h1>
    <div class="posts">
        
            <div class="singlePost">
            <h3 id="username">username:@<%=post.username %></h4>
                <p>id:<%= post.id %></p>
                <hr>
            <h7><%=post.content %></h7>
            <br>
            <a href="http://localhost:8080/posts/edit/:id">edit</a>
        </div>
            <br>
            <br>
            
</body>
</html>