<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newChat</title>

</head>
<body>
    <h1>Add new Chat1</h1>
    <form method="post" action="/chats/add">
        From:<input placeholder="Enter from" name="from">
        To:<input placeholder="To" name="to">
        <br>
        <br>
        <textarea placeholder="Enter your msg" name="msg"></textarea>
        <br>
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>